$blue1: #280f41;
$pure-white: #fff;
$pure-black: #000;
$black: #3c3c3c;
$light-green1: #bdf8b7;
$light-green2: #c0c0c0;
$green: #68c368;
$green-muted: #50a151;
$green-hover: #68c368;
$blue: #3498db;
$blue-muted: #2980b9;
$blue-hover: #3cb0fd;
$subtle-border-color: #cfcfcf;
$red: #eb5348;
$red-muted: #d35a51;
$red-hover: #f08179;
