@import 'light-theme';

html, body, #root, .app {
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}
figure {
  margin: 0;
  padding: 0;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;

  main {
    flex: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    background-size: cover;
  }
}


@keyframes rotate-slightly {
  0%   { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}

*:focus {
  outline: none;
}
