$font-family: 'Roboto', sans-serif;
$blue1: #280f41;

html, body, #root, .app {height: 100%}
html {
  font-family: $font-family;
  textarea {
    font-family: $font-family; // must target this directly :|
  }
  a {
    text-decoration: none;
    color: black;
    &:visited {
      color: black;
    }
  }
}

.layout {
  font-size: 15px;
  height: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;

  main {
    flex: 4;
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: url("/chat-bg.jpg");
    background-size: cover;
  }
}


@keyframes rotate-slightly {
  0%   { transform: rotate(90deg); }
  100% { transform: rotate(0deg); }
}

*:focus {
  outline: none;
}
