.loading-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10; // always on-top.
  background-color: #240e44;
  color: #ffffff;
  text-align: center;
  display: flex;
  font-family: "pacifico";
  font-size: 3em;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
    height: auto;
  }
}