@import 'typography';

nav.navigation {
  display: flex;
  border-bottom: 3px solid #b8732d;

  .account, .logo, .chats {
    height: 64px;
    justify-items: center;
    flex: 1;
    a {
      height: 100%;
      display: block;
    }
  }

  .account {
    text-align: left;
  }

  .logo {
    background-size: contain;
    font-family: $logo-font;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      max-height:100%;
    }

  }

  .chats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    .notification {
      position: absolute;
      top: 5px;
      right: 5px;
      border: 1px solid red;
      border-radius: 15px;
      background-color: red;
      color: white;
      padding: 0 5px;
      text-align: center;
    }

    img {
      overflow: hidden;
      object-fit: cover;
      height: 54px;
      width: 54px;
      padding: 5px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}