.profile-picture {
  position: relative;
  margin: 0;
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  flex-direction: column;


  img {
    margin: 0 auto;
    overflow: hidden;
    object-fit: cover;
    height: 100%;
    width: 100%;
    .clickable:hover {
      cursor: pointer;
    }
  }
}