@import '../light-theme';

.me-edit {
  .image-preview {
    position: fixed;
    top: 0;
    &:after {
      content: "";
      position: fixed;
      background-color: black;
      opacity: 0.8;
      z-index: 9;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
    }

    img {
      position: relative;
      box-sizing: border-box;
      width: 100% !important;
      height: auto !important;
      border: 5px solid #dcdcdc;
      z-index: 10;
    }
  }

  .photo-nav-group {
    display:flex;

    .button {
      flex: 1;
      // border-radius: 0;
      font-size: 2em;
      width: 90%;
      padding: 10px;
      margin: 10px auto;
    }

    .selectable-photos {
      flex: 9;
      line-height: 0;
      column-count:1;
      column-gap: 0px;
      row-gap: 10px;
      background-image: url(/dark-honeycomb.png);
      padding: 10px;

      figure {
        margin: 0;
        font-size: 0;
        color: white;

        &.selected {
          font-size: 1em;
          box-sizing: border-box;
          position: relative;

          .index {
            position: absolute;
            text-align: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background-color: $blue;
            opacity: 0.6;
            font-size: 3em;
          }
        }
        img {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}


@keyframes fill {
  to {
   opacity: 0;
  }
}
