
.welcome-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  .divider {
    border-bottom: 1px solid #ccc;
    margin-top: 0.5em;
  }
  .button {
    margin: 0 auto;
    display: block;
    width: 100%;
    padding: 1em;
    margin-top: 0.5em;
  }
}